.App {
    text-align: center;
}

.App-header {
    background-color: #66cc66; /* Green sky color */
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bulb_container {
    opacity: 0;
    transform: translateX(-500px);
    transition: opacity 1s ease, transform 1s ease;
}
.bulb_container.in {
    opacity: 1;
    transform: translateX(0);
    height: 450px;
    width: 450px;
}

.title.in {
    opacity: 1;
    transform: translateX(0);
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    vertical-align: center;
    font-size: 3rem;
    margin-top: 30px;
}

.title {
    opacity: 0;
    transform: translateX(0px);
    transition: opacity 1s ease, transform 1s ease;

}

.title_container {
    opacity: 0;
    transform: translateX(500px);
    transition: opacity 1s ease, transform 1s ease;
}


.title_container.in {
    opacity: 1;
    transform: translateX(0);
    padding-left: 40px;
    padding-top: 170px;
    color: white;
}

.title_text {
    font-size: 80px;
    font-family: fantasy;
}

.left_subtext {
    font-size: 12px;
}

.button-dashed {
    z-index: 999;
    padding: 15px;
    border: double 5px;
    border-radius: 45%;
    border-color: #66cc66;
}

.button-solid {
    z-index: 20;
    padding: 15px;
    border: dashed 5px;
    border-radius: 45%;
    border-color: gold;
}

/*
.clouds{
  overflow: hidden;
  z-index: 1;
}
.clouds_five{
  animation: cld 40s linear infinite;
  opacity: .6;
  max-width: 100%;
  position: absolute;
  z-index: 2;
  bottom: 0px;
}
.clouds_one{
  animation: cld 8s linear infinite;
  opacity: .6;
  max-width: 100%;
  position: absolute;
  z-index: 3;
  bottom: 0px;
}
.clouds_two{
  animation: cld 16s linear infinite;
  opacity: .6;
  max-width: 100%;
  position: absolute;
  bottom: 0px;
  z-index: 4;
}
.clouds_three{
  animation: cld 24s linear infinite;
  opacity: .6;
  max-width: 100%;
  position: absolute;
  bottom: 0px;
  z-index: 5;
}
.clouds_four{
  animation: cld 32s linear infinite;
  opacity: .6;
  max-width: 100%;
  position: absolute;
  bottom: 0px;
  z-index: 6;
}
@keyframes cld{
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(-60%);
  }
}*/
